:root {
  font-family: "Open Sans", serif;
}

body {
  background-color: #29292E;
}

main {
  background-color: #FFF;
  width: 1120px;
  height: 3054px;
  padding: 24px;
  margin: auto;
  border-radius: 20px;
}

#initial p {
  text-transform: uppercase;
  color: #E1624F;
  font-weight: bold;
}

#initial h1 {
  margin-bottom: 40px;
}

#about img {
  border-radius: 28px;
  padding-bottom: 10px;
}

#about p {
  font-style: italic;
  color: #333333;
  text-align: center;
}